*{
    padding: 0;
    margin: 0;
    list-style: none;
}
#lunbotu{
    width : 1000px;
    height : 500px;
    position: relative;
    margin: 100px auto;
}
#lunbotu > ul:nth-child(1){
    width: 100%;
    height: 100%;
    position: relative;
}
#lunbotu > ul:nth-child(1) > li{
    position: absolute;
    width : 700px;
    height : 350px;
    left: 150px;
    top: 125px;

}
#lunbotu > ul:nth-child(1) img{
    width: 100%;
    height: 100%;
}

#lunbotu > ul:nth-child(2){
    position: absolute;
    width: 100%;
    height: 112px;
    left: 0;
    top: 100px;
    z-index: 10;
    opacity: 0;
}
#lunbotu > ul:nth-child(2) li{
    float: left;
    cursor: pointer;
}
#lunbotu > ul:nth-child(2) li:nth-child(2){
    float: right;
}