<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= age %></h1>
    <p>Welcome to <%= age %></p>
    <%
    var a = 100 + 200;

    %>

    <p><%=a%></p>
  </body>
</html>
