<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<div><%= content %></div>
<p><%= "你的密码是" + pwd %></p>
</body>
</html>